* {
  margin: 0;
  padding: 0;
}

.inputContainer {
  position: absolute;
  width: 100%;
  bottom: 17px;
  left: -2px;

  .input {
    min-width: 75%;
    height: 39px;
    border: 1px solid #A19F9D;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 4px 24px;
    padding: 10px 16px;
    cursor: text;
    font-family: Lato, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    outline: none;

    &:active {
      border: 1px solid #A19F9D;
    }

    &:focus {
      outline: none
    }
  }


  .defaultInput {
    color: #A19F9D;

  }

  .buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px;

    .nameButtonFile {
      width: 32px;
      height: 32px;
      background-color: rgba(32, 31, 30, 0.04);
      border-radius: 4px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      //background-image: url("/src/img/ico/clip.png");


      .buttonFile {
        display: none;
        cursor: pointer;
      }

      .buttonSend {
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        z-index: 1;
        //background-image: url("./src/img/ico/Send.png");

      }
    }
  }
}
