.NewMessageContainer {
  max-width: 1080px;
  height: 24px;
  background: rgba(64, 126, 201, 0.08);
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #407EC9;
  margin: 16px 0;

  & span {
    display: inline-block;
    height: 16px;
    margin-top: 4px;
  }
}

.dataContainer{
  width: 86px;
  height: 32px;
  margin: 16px auto;
  background: rgba(64, 126, 201, 0.08);
  border-radius: 4px;
  font-family: Lato, serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}